# Default notebook

This default notebook is executed using Databricks Workflows as defined in resources/default_python_job.yml.

In [1]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
source_table = "samples.nyctaxi.trips"
df = spark.read.table(source_table)
display(df.limit(10))

DataFrame[tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, trip_distance: double, fare_amount: double, pickup_zip: int, dropoff_zip: int]

In [31]:
dbutils.widgets.text("silver_table", "taylor_dev.project.silver_table")
silver_table= dbutils.widgets.get("silver_table")

if len(silver_table.split(".")) != 3:
    raise Exception("invalid view name")

In [32]:
catalog, schema, table = tuple(silver_table.split("."))
spark.sql(f"CREATE CATALOG IF NOT EXISTS {catalog}")
spark.sql(f"CREATE SCHEMA IF NOT EXISTS {catalog}.{schema}")

DataFrame[]

In [33]:
df.filter(df.trip_distance < 2).write.saveAsTable(silver_table)